In [1]:
import argparse
from typing import Dict, Tuple, Any
import json
from pyspark.sql import SparkSession, DataFrame
from pyspark.sql import HiveContext
from pyspark.sql.functions import *
import importlib

In [2]:
df_regiao = spark.sql("select * from desafio_curso.tbl_regiao")

In [3]:
df_regiao.show()

+-----------+-------------+--------+
|region_code|  region_name| dt_foto|
+-----------+-------------+--------+
|          0|       Canada|20230624|
|          1|      Western|20230624|
|          2|     Southern|20230624|
|          3|    Northeast|20230624|
|          4|      Central|20230624|
|          5|International|20230624|
+-----------+-------------+--------+

In [4]:
df_divisao = spark.sql("select * from desafio_curso.tbl_divisao")

In [5]:
df_divisao.show()

+--------+-------------+--------+
|division|division_name| dt_foto|
+--------+-------------+--------+
|       1|International|20230624|
|       2|     Domestic|20230624|
+--------+-------------+--------+

In [6]:
query_clientes = '''
select address_number,business_family,business_unit,customer,customerkey,customer_type,division,
case when length(trim(line_of_business)) = 0 then 'Nao Informado' else line_of_business end line_of_business,
phone,region_code,regional_sales_mgr,search_type,dt_foto
from desafio_curso.tbl_clientes
'''

df_clientes = spark.sql(query_clientes)

In [7]:
df_clientes.show(5)

+--------------+---------------+-------------+--------------------+-----------+-------------+--------+----------------+------------+-----------+------------------+-----------+--------+
|address_number|business_family|business_unit|            customer|customerkey|customer_type|division|line_of_business|       phone|region_code|regional_sales_mgr|search_type| dt_foto|
+--------------+---------------+-------------+--------------------+-----------+-------------+--------+----------------+------------+-----------+------------------+-----------+--------+
|      10000000|             R3|            1|    City Supermarket|   10000000|           G2|       2|   Nao Informado|816-455-8733|          4|               S16|          C|20230624|
|      10000453|             R3|            1|       A Supermarket|   10000453|           G1|       1|   Nao Informado|816-455-8733|          5|               S19|          C|20230624|
|      10000455|             R3|            1|Caribian Supermarket|   10000455|           G2|       2|   Nao Informado|816-455-8733|          1|               S16|          C|20230624|
|      10000456|             R1|            1|            A&B Shop|   10000456|           G3|       1|   Nao Informado|816-455-8733|          0|                S2|          C|20230624|
|      10000457|             O2|            1|            A&G Shop|   10000457|           G1|       1|   Nao Informado|816-455-8733|          5|                S1|          C|20230624|
+--------------+---------------+-------------+--------------------+-----------+-------------+--------+----------------+------------+-----------+------------------+-----------+--------+
only showing top 5 rows

In [8]:
query_endereco = '''
select address_number,
case when length(trim(city)) = 0 then 'Nao Informado' else city end city,
country,
case when length(trim(customer_address_1)) = 0 then 'Nao Informado' else customer_address_1 end customer_address_1,
case when length(trim(customer_address_2)) = 0 then 'Nao Informado' else customer_address_2 end customer_address_2,
case when length(trim(customer_address_3)) = 0 then 'Nao Informado' else customer_address_3 end customer_address_3,
case when length(trim(customer_address_4)) = 0 then 'Nao Informado' else customer_address_4 end customer_address_4,
case when length(trim(state)) = 0 then 'Nao Informado' else state end state,
case when length(trim(zip_code)) = 0 then 'Nao Informado' else zip_code end zip_code
from desafio_curso.tbl_endereco
'''

df_endereco = spark.sql(query_endereco)

In [9]:
df_endereco.show(5)

+--------------+----------------+-------+------------------+------------------+------------------+------------------+-------------+-------------+
|address_number|            city|country|customer_address_1|customer_address_2|customer_address_3|customer_address_4|        state|     zip_code|
+--------------+----------------+-------+------------------+------------------+------------------+------------------+-------------+-------------+
|      10000000|           Akron|     US|       PO Box 6258|     Nao Informado|     Nao Informado|     Nao Informado|           OH|        44312|
|      10000453|   Nao Informado|     UK|     Nao Informado|     Nao Informado|     Nao Informado|     Nao Informado|Nao Informado|Nao Informado|
|      10000455|Huntington Beach|     US| 7392 Count Circle|     Nao Informado|     Nao Informado|     Nao Informado|           CA|        92647|
|      10000456|        Edmonton|     CA|  8151 Wagner Road|     Nao Informado|     Nao Informado|     Nao Informado|           AB|      T6E 4N6|
|      10000458|         Saginaw|     US|        PO Box 840|     Nao Informado|     Nao Informado|     Nao Informado|           MI|        48606|
+--------------+----------------+-------+------------------+------------------+------------------+------------------+-------------+-------------+
only showing top 5 rows

In [10]:
df_vendas = spark.sql("select * from desafio_curso.tbl_vendas")

In [11]:
df_vendas.show(5)

+--------------------+-----------+----------+---------------+------------+--------------+----------+-----------+--------------------+-----------+----------+------------+---------------------+------------+--------------------------------+-----------------+-------------------+-----------+--------------+---------+---+--------+
|actual_delivery_date|customerkey|   datekey|discount_amount|invoice_date|invoice_number|item_class|item_number|                item|line_number|list_price|order_number|promise_delivery_date|sales_amount|sales_amount_based_on_list_price|sales_cost_amount|sales_margin_amount|sales_price|sales_quantity|sales_rep|u_m| dt_foto|
+--------------------+-----------+----------+---------------+------------+--------------+----------+-----------+--------------------+-----------+----------+------------+---------------------+------------+--------------------------------+-----------------+-------------------+-----------+--------------+---------+---+--------+
|          28/04/2019|   10000481|28/04/2018|        -237,91|  30/04/2018|        100012|      null|       null|    Urban Large Eggs|       2000|         0|      200015|           28/04/2019|      237,91|                               0|                0|             237,91|     237,91|             1|      184| EA|20230624|
|          12/07/2019|   10002220|12/07/2018|         368,79|  14/07/2018|        100233|       P01|      20910|  Moms Sliced Turkey|       1000|    824,96|      200245|           12/07/2019|      456,17|                          824,96|                0|             456,17|     456,17|             1|      127| EA|20230624|
|          14/10/2019|   10002220|15/10/2018|         109,73|  17/10/2018|        116165|       P01|      38076|Cutting Edge Foot...|       1000|    548,66|      213157|           14/10/2019|      438,93|                          548,66|                0|             438,93|     438,93|             1|      127| EA|20230624|
|          01/06/2019|   10002489|01/06/2018|        -211,75|  03/06/2018|        100096|      null|       null|            Kiwi Lox|       1000|         0|      200107|           01/06/2019|      211,75|                               0|                0|             211,75|     211,75|             1|      160| EA|20230624|
|          26/05/2019|   10004516|25/05/2018|       96627,94|  27/05/2018|        103341|       P01|      60776|High Top Sweet Onion|       1000|    408,52|      203785|           26/05/2019|    89248,66|                        185876,6|                0|           89248,66|196,1509011|           455|      124| SE|20230624|
+--------------------+-----------+----------+---------------+------------+--------------+----------+-----------+--------------------+-----------+----------+------------+---------------------+------------+--------------------------------+-----------------+-------------------+-----------+--------------+---------+---+--------+
only showing top 5 rows

In [12]:
df_clientes.createOrReplaceTempView('clientes')
df_regiao.createOrReplaceTempView('regiao')
df_divisao.createOrReplaceTempView('divisao')
df_endereco.createOrReplaceTempView('endereco')
df_vendas.createOrReplaceTempView('vendas')

In [29]:
query_stage = '''
select
    v.actual_delivery_date,
    v.customerkey,
    v.datekey,
    v.discount_amount,
    v.invoice_date,
    v.invoice_number,
    v.item_class,
    v.item_number,
    v.item,
    v.line_number,
    v.list_price,
    v.order_number,
    v.promise_delivery_date,
    v.sales_amount,
    v.sales_amount_based_on_list_price,
    v.sales_cost_amount,
    v.sales_margin_amount,
    v.sales_price,
    v.sales_quantity,
    v.sales_rep,
    v.u_m,
    c.address_number,
    c.business_family,
    c.business_unit,
    c.customer,
    c.customer_type,
    c.division,
    c.line_of_business,
    c.phone,
    c.region_code,
    c.regional_sales_mgr,
    c.search_type,
    d.division_name,
    r.region_name,
    e.city,
    e.country,
    e.customer_address_1,
    e.customer_address_2,
    e.customer_address_3,
    e.customer_address_4,
    e.state,
    e.zip_code
from vendas v
left join clientes c on v.customerkey = c.customerkey
left join endereco e on c.address_number = e.address_number
inner join regiao r on c.region_code = r.region_code
inner join divisao d on c.division = d.division    
'''

df_stage = spark.sql(query_stage)

In [30]:
df_stage.show(5)

+--------------------+-----------+----------+---------------+------------+--------------+----------+-----------+--------------------+-----------+----------+------------+---------------------+------------+--------------------------------+-----------------+-------------------+-----------+--------------+---------+---+--------------+---------------+-------------+--------------+-------------+--------+----------------+------------+-----------+------------------+-----------+-------------+-----------+-------+-------+--------------------+------------------+------------------+------------------+-----+--------+
|actual_delivery_date|customerkey|   datekey|discount_amount|invoice_date|invoice_number|item_class|item_number|                item|line_number|list_price|order_number|promise_delivery_date|sales_amount|sales_amount_based_on_list_price|sales_cost_amount|sales_margin_amount|sales_price|sales_quantity|sales_rep|u_m|address_number|business_family|business_unit|      customer|customer_type|division|line_of_business|       phone|region_code|regional_sales_mgr|search_type|division_name|region_name|   city|country|  customer_address_1|customer_address_2|customer_address_3|customer_address_4|state|zip_code|
+--------------------+-----------+----------+---------------+------------+--------------+----------+-----------+--------------------+-----------+----------+------------+---------------------+------------+--------------------------------+-----------------+-------------------+-----------+--------------+---------+---+--------------+---------------+-------------+--------------+-------------+--------+----------------+------------+-----------+------------------+-----------+-------------+-----------+-------+-------+--------------------+------------------+------------------+------------------+-----+--------+
|          16/01/2018|   10025298|16/01/2017|         654,42|  19/01/2017|        319453|       P01|      60035|      Golden Waffles|       1000|    731,95|      117028|           16/01/2018|      809,48|                          1463,9|           537,98|              271,5|     404,74|             2|      150| EA|      10025298|             R3|            1|U. Supermarket|           G3|       1|   Nao Informado|816-455-8733|          0|               S17|          C|International|     Canada|Toronto|     CA|1111 Finch Avenue...|          Unit #22|     Nao Informado|     Nao Informado|   ON| M3J 2E5|
|          18/04/2018|   10025298|18/04/2017|         654,42|  20/04/2017|        330965|       P01|      60035|      Golden Waffles|       1000|    731,95|      125721|           18/04/2018|      809,48|                          1463,9|           537,98|              271,5|     404,74|             2|      150| EA|      10025298|             R3|            1|U. Supermarket|           G3|       1|   Nao Informado|816-455-8733|          0|               S17|          C|International|     Canada|Toronto|     CA|1111 Finch Avenue...|          Unit #22|     Nao Informado|     Nao Informado|   ON| M3J 2E5|
|          15/05/2018|   10025298|15/05/2017|         432,04|  17/05/2017|        301134|       P01|      28401|Ebony Prepared Salad|       9000|    966,44|      102218|           15/05/2018|       534,4|                          966,44|           271,36|             263,04|      534,4|             1|      150| EA|      10025298|             R3|            1|U. Supermarket|           G3|       1|   Nao Informado|816-455-8733|          0|               S17|          C|International|     Canada|Toronto|     CA|1111 Finch Avenue...|          Unit #22|     Nao Informado|     Nao Informado|   ON| M3J 2E5|
|          18/07/2018|   10025298|18/07/2017|         654,42|  20/07/2017|        307020|       P01|      60035|      Golden Waffles|       1000|    731,95|      106255|           18/07/2018|      809,48|                          1463,9|           537,98|              271,5|     404,74|             2|      150| EA|      10025298|             R3|            1|U. Supermarket|           G3|       1|   Nao Informado|816-455-8733|          0|               S17|          C|International|     Canada|Toronto|     CA|1111 Finch Avenue...|          Unit #22|     Nao Informado|     Nao Informado|   ON| M3J 2E5|
|          29/12/2019|   10025298|29/12/2018|       510,1099|  31/12/2018|        219419|       P01|      37441|Atomic Mint Choco...|       1000| 1254,1899|      316852|           29/12/2019|      744,08|                       1254,1899|           344,28|              399,8|     744,08|             1|      185| EA|      10025298|             R3|            1|U. Supermarket|           G3|       1|   Nao Informado|816-455-8733|          0|               S17|          C|International|     Canada|Toronto|     CA|1111 Finch Avenue...|          Unit #22|     Nao Informado|     Nao Informado|   ON| M3J 2E5|
+--------------------+-----------+----------+---------------+------------+--------------+----------+-----------+--------------------+-----------+----------+------------+---------------------+------------+--------------------------------+-----------------+-------------------+-----------+--------------+---------+---+--------------+---------------+-------------+--------------+-------------+--------+----------------+------------+-----------+------------------+-----------+-------------+-----------+-------+-------+--------------------+------------------+------------------+------------------+-----+--------+
only showing top 5 rows

In [26]:
df_teste_join = spark.sql("select * from vendas v left join clientes c on v.customerkey = c.customerkey")

In [28]:
df_teste_join.count()

66065

In [21]:
query_customerkey = '''select * from df_stage where customerkey = 10000481'''
spark.sql(query_customerkey).show()

AnalysisException: 'Table or view not found: df_stage; line 1 pos 14'

In [31]:
df_stage.createOrReplaceTempView('stage')
query_customerkey = '''select * from stage where customerkey = 10000481'''
spark.sql(query_customerkey).show()

+--------------------+-----------+----------+---------------+------------+--------------+----------+-----------+--------------------+-----------+----------+------------+---------------------+------------+--------------------------------+-----------------+-------------------+-----------+--------------+---------+---+--------------+---------------+-------------+-----------+-------------+--------+----------------+------------+-----------+------------------+-----------+-------------+-----------+-------+-------+------------------+------------------+------------------+------------------+-----+--------+
|actual_delivery_date|customerkey|   datekey|discount_amount|invoice_date|invoice_number|item_class|item_number|                item|line_number|list_price|order_number|promise_delivery_date|sales_amount|sales_amount_based_on_list_price|sales_cost_amount|sales_margin_amount|sales_price|sales_quantity|sales_rep|u_m|address_number|business_family|business_unit|   customer|customer_type|division|line_of_business|       phone|region_code|regional_sales_mgr|search_type|division_name|region_name|   city|country|customer_address_1|customer_address_2|customer_address_3|customer_address_4|state|zip_code|
+--------------------+-----------+----------+---------------+------------+--------------+----------+-----------+--------------------+-----------+----------+------------+---------------------+------------+--------------------------------+-----------------+-------------------+-----------+--------------+---------+---+--------------+---------------+-------------+-----------+-------------+--------+----------------+------------+-----------+------------------+-----------+-------------+-----------+-------+-------+------------------+------------------+------------------+------------------+-----+--------+
|          28/04/2019|   10000481|28/04/2018|        -237,91|  30/04/2018|        100012|      null|       null|    Urban Large Eggs|       2000|         0|      200015|           28/04/2019|      237,91|                               0|                0|             237,91|     237,91|             1|      184| EA|      10000481|             R2|            1|Abbott Shop|           G2|       2|   Nao Informado|816-455-8733|          4|                S5|          C|     Domestic|    Central|Chicago|     US|          Box 5516|     Nao Informado|     Nao Informado|     Nao Informado|   IL|   60680|
|          03/01/2019|   10000481|03/01/2018|         1681,2|  05/01/2018|        330000|       P01|      30283| Even Better 2% Milk|       1000|    1321,7|      124466|           03/01/2019|      2283,9|                          3965,1|          1634,19|             649,71|      761,3|             3|      134| EA|      10000481|             R2|            1|Abbott Shop|           G2|       2|   Nao Informado|816-455-8733|          4|                S5|          C|     Domestic|    Central|Chicago|     US|          Box 5516|     Nao Informado|     Nao Informado|     Nao Informado|   IL|   60680|
|          12/01/2019|   10000481|12/01/2018|         389,88|  14/01/2018|        120000|       P01|      33445|Best Choice Corn ...|       1000|    974,69|      217302|           12/01/2019|      584,81|                          974,69|           353,52|             231,29|     584,81|             1|      184| EA|      10000481|             R2|            1|Abbott Shop|           G2|       2|   Nao Informado|816-455-8733|          4|                S5|          C|     Domestic|    Central|Chicago|     US|          Box 5516|     Nao Informado|     Nao Informado|     Nao Informado|   IL|   60680|
|          15/01/2019|   10000481|15/01/2018|         389,88|  17/01/2018|        120327|       P01|      33445|Best Choice Corn ...|       1000|    974,69|      217557|           15/01/2019|      584,81|                          974,69|           353,52|             231,29|     584,81|             1|      184| EA|      10000481|             R2|            1|Abbott Shop|           G2|       2|   Nao Informado|816-455-8733|          4|                S5|          C|     Domestic|    Central|Chicago|     US|          Box 5516|     Nao Informado|     Nao Informado|     Nao Informado|   IL|   60680|
|          09/02/2018|   10000481|09/02/2017|         1681,2|  12/02/2017|        321678|       P01|      30283| Even Better 2% Milk|       1000|    1321,7|      118278|           09/02/2018|      2283,9|                          3965,1|          1634,19|             649,71|      761,3|             3|      134| EA|      10000481|             R2|            1|Abbott Shop|           G2|       2|   Nao Informado|816-455-8733|          4|                S5|          C|     Domestic|    Central|Chicago|     US|          Box 5516|     Nao Informado|     Nao Informado|     Nao Informado|   IL|   60680|
|          18/02/2019|   10000481|18/02/2018|            230|  20/02/2018|        123276|       P01|      62550|    Tell Tale Garlic|       1000|       575|      219301|           18/02/2019|         345|                             575|            249,3|               95,7|        345|             1|      184| EA|      10000481|             R2|            1|Abbott Shop|           G2|       2|   Nao Informado|816-455-8733|          4|                S5|          C|     Domestic|    Central|Chicago|     US|          Box 5516|     Nao Informado|     Nao Informado|     Nao Informado|   IL|   60680|
|          05/03/2019|   10000481|05/03/2018|         389,88|  07/03/2018|        124630|       P01|      33445|Best Choice Corn ...|       1000|    974,69|      220342|           05/03/2019|      584,81|                          974,69|           353,52|             231,29|     584,81|             1|      184| EA|      10000481|             R2|            1|Abbott Shop|           G2|       2|   Nao Informado|816-455-8733|          4|                S5|          C|     Domestic|    Central|Chicago|     US|          Box 5516|     Nao Informado|     Nao Informado|     Nao Informado|   IL|   60680|
|          15/03/2019|   10000481|15/03/2018|          596,3|  17/03/2018|        125373|       P01|      30289|Even Better Straw...|       1000|   1490,76|      220870|           15/03/2019|      894,46|                         1490,76|           546,44|             348,02|     894,46|             1|      184| EA|      10000481|             R2|            1|Abbott Shop|           G2|       2|   Nao Informado|816-455-8733|          4|                S5|          C|     Domestic|    Central|Chicago|     US|          Box 5516|     Nao Informado|     Nao Informado|     Nao Informado|   IL|   60680|
|          25/03/2019|   10000481|25/03/2018|          596,3|  27/03/2018|        126426|       P01|      30289|Even Better Straw...|       1000|   1490,76|      221496|           25/03/2019|      894,46|                         1490,76|           546,44|             348,02|     894,46|             1|      184| EA|      10000481|             R2|            1|Abbott Shop|           G2|       2|   Nao Informado|816-455-8733|          4|                S5|          C|     Domestic|    Central|Chicago|     US|          Box 5516|     Nao Informado|     Nao Informado|     Nao Informado|   IL|   60680|
|          12/04/2019|   10000481|12/04/2018|         389,88|  14/04/2018|        131512|       P01|      33445|Best Choice Corn ...|       1000|    974,69|      225961|           12/04/2019|      584,81|                          974,69|           353,52|             231,29|     584,81|             1|      184| EA|      10000481|             R2|            1|Abbott Shop|           G2|       2|   Nao Informado|816-455-8733|          4|                S5|          C|     Domestic|    Central|Chicago|     US|          Box 5516|     Nao Informado|     Nao Informado|     Nao Informado|   IL|   60680|
|          15/04/2019|   10000481|15/04/2018|         389,88|  17/04/2018|        131839|       P01|      33445|Best Choice Corn ...|       1000|    974,69|      226158|           15/04/2019|      584,81|                          974,69|           353,52|             231,29|     584,81|             1|      184| EA|      10000481|             R2|            1|Abbott Shop|           G2|       2|   Nao Informado|816-455-8733|          4|                S5|          C|     Domestic|    Central|Chicago|     US|          Box 5516|     Nao Informado|     Nao Informado|     Nao Informado|   IL|   60680|
|          29/04/2019|   10000481|29/04/2018|         431,51|  01/05/2018|        100951|       P01|      30279|Even Better Sharp...|       1000|   1078,77|      201935|           29/04/2019|      647,26|                         1078,77|           444,35|             202,91|     647,26|             1|      184| EA|      10000481|             R2|            1|Abbott Shop|           G2|       2|   Nao Informado|816-455-8733|          4|                S5|          C|     Domestic|    Central|Chicago|     US|          Box 5516|     Nao Informado|     Nao Informado|     Nao Informado|   IL|   60680|
|          07/05/2019|   10000481|07/05/2018|         389,88|  09/05/2018|        101857|       P01|      33445|Best Choice Corn ...|       1000|    974,69|      202626|           07/05/2019|      584,81|                          974,69|           349,57|             235,24|     584,81|             1|      184| EA|      10000481|             R2|            1|Abbott Shop|           G2|       2|   Nao Informado|816-455-8733|          4|                S5|          C|     Domestic|    Central|Chicago|     US|          Box 5516|     Nao Informado|     Nao Informado|     Nao Informado|   IL|   60680|
|          10/05/2019|   10000481|10/05/2018|         389,88|  12/05/2018|        101987|       P01|      33445|Best Choice Corn ...|       1000|    974,69|      202723|           10/05/2019|      584,81|                          974,69|           349,57|             235,24|     584,81|             1|      184| EA|      10000481|             R2|            1|Abbott Shop|           G2|       2|   Nao Informado|816-455-8733|          4|                S5|          C|     Domestic|    Central|Chicago|     US|          Box 5516|     Nao Informado|     Nao Informado|     Nao Informado|   IL|   60680|
|          15/06/2018|   10000481|15/06/2017|         246,84|  17/06/2017|        304282|       P01|      31683|Golden Frozen Pep...|       1000|    291,09|      104254|           15/06/2018|      335,34|                          582,18|           156,24|              179,1|     167,67|             2|      134| EA|      10000481|             R2|            1|Abbott Shop|           G2|       2|   Nao Informado|816-455-8733|          4|                S5|          C|     Domestic|    Central|Chicago|     US|          Box 5516|     Nao Informado|     Nao Informado|     Nao Informado|   IL|   60680|
|          12/07/2019|   10000481|12/07/2018|         389,88|  14/07/2018|        107575|       P01|      33445|Best Choice Corn ...|       1000|    974,69|      206568|           12/07/2019|      584,81|                          974,69|           353,52|             231,29|     584,81|             1|      184| EA|      10000481|             R2|            1|Abbott Shop|           G2|       2|   Nao Informado|816-455-8733|          4|                S5|          C|     Domestic|    Central|Chicago|     US|          Box 5516|     Nao Informado|     Nao Informado|     Nao Informado|   IL|   60680|
|          15/07/2019|   10000481|15/07/2018|         389,88|  17/07/2018|        107908|       P01|      33445|Best Choice Corn ...|       1000|    974,69|      206876|           15/07/2019|      584,81|                          974,69|           353,52|             231,29|     584,81|             1|      184| EA|      10000481|             R2|            1|Abbott Shop|           G2|       2|   Nao Informado|816-455-8733|          4|                S5|          C|     Domestic|    Central|Chicago|     US|          Box 5516|     Nao Informado|     Nao Informado|     Nao Informado|   IL|   60680|
|          11/08/2018|   10000481|11/08/2017|         1681,2|  13/08/2017|        309287|       P01|      30283| Even Better 2% Milk|       1000|    1321,7|      107706|           11/08/2018|      2283,9|                          3965,1|          1634,19|             649,71|      761,3|             3|      134| EA|      10000481|             R2|            1|Abbott Shop|           G2|       2|   Nao Informado|816-455-8733|          4|                S5|          C|     Domestic|    Central|Chicago|     US|          Box 5516|     Nao Informado|     Nao Informado|     Nao Informado|   IL|   60680|
|          18/08/2019|   10000481|18/08/2018|            230|  20/08/2018|        110915|       P01|      62550|    Tell Tale Garlic|       1000|       575|      208879|           18/08/2019|         345|                             575|            249,3|               95,7|        345|             1|      184| EA|      10000481|             R2|            1|Abbott Shop|           G2|       2|   Nao Informado|816-455-8733|          4|                S5|          C|     Domestic|    Central|Chicago|     US|          Box 5516|     Nao Informado|     Nao Informado|     Nao Informado|   IL|   60680|
|          03/09/2019|   10000481|03/09/2018|         389,88|  05/09/2018|        112297|       P01|      33445|Best Choice Corn ...|       1000|    974,69|      210122|           03/09/2019|      584,81|                          974,69|           353,52|             231,29|     584,81|             1|      184| EA|      10000481|             R2|            1|Abbott Shop|           G2|       2|   Nao Informado|816-455-8733|          4|                S5|          C|     Domestic|    Central|Chicago|     US|          Box 5516|     Nao Informado|     Nao Informado|     Nao Informado|   IL|   60680|
+--------------------+-----------+----------+---------------+------------+--------------+----------+-----------+--------------------+-----------+----------+------------+---------------------+------------+--------------------------------+-----------------+-------------------+-----------+--------------+---------+---+--------------+---------------+-------------+-----------+-------------+--------+----------------+------------+-----------+------------------+-----------+-------------+-----------+-------+-------+------------------+------------------+------------------+------------------+-----+--------+
only showing top 20 rows

In [32]:
df_stage.count()

66872